.bar{
    width: 310px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    &--big{
        width: 387px;
    }
    &__head{
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.2px;
        color: #8181A5;
        padding: 26px 17px 28px 22px;
        border-bottom: 1px solid #F0F0F3;
    }
    &__body{
        padding: 28px 23px 35px 22px;
        margin-bottom: auto;
    }
    &__tabs{
        display: flex;
        margin: 0 -11px 22px;
    }
    &__tab-wrap{
        padding: 0 11px;
    }
    &__tab{
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #5E81F4;
        text-decoration: none;
        transition: color .3s ease-out;
        &.active{
            color: $black;
        }
        &:hover{
            color: $black;
        }
    }
    &__message{
        border-top: 1px solid #F5F5FA;
    }
    &__message-input{
        padding: 0 15px;
        height: 55px;
        border: none !important;
        &::placeholder{
            color: #AEB1BD;
        }
    }
    &__info{
        border-top: 1px solid #f5f5fa;
        padding: 18px 20px 30px;
    }
    &__info-title{
        font-size: 12px;
        line-height: 18px;
        color: #888B94;
        margin-bottom: 13px;
    }
    &__info-text{
        font-size: 16px;
        line-height: 24px;
        color: #2D2F33;
        margin-bottom: 31px;
    }
}