.content{
    &__wrap{
        display: flex;
        padding-right: 30px;
    }
    &__left{
        margin-right: 23px;
        position: relative;
        z-index: 2;
    }
    &__body{
        max-width: calc(100% - 85px - 23px);
        width: 100%;
        padding-bottom: 40px;
    }
    &__sidebar{
        height: 100%;
        display: flex;
    }
    &__inner{
        background-color: #fff;
        padding: 44px 30px 60px;
        border-radius: 12px;
        margin-bottom: 24px;
        &--card{
            padding: 27px 26px 72px;
        }
        &--box{
            padding: 30px 25px 35px;
            .content{
                &__inner-wrap{
                    margin-left: 0;
                    max-width: 1328px;
                }
            }
        }
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -13px;
    }
    &__cell{
        width: 50%;
        padding: 0 13px;
        margin-bottom: 24px;
        @media (max-width: 1600px) {
            width: 100%;
        }
    }
    &__inner-wrap{
        max-width: 1287px;
        margin-left: auto;
        &--lg{
            max-width: 1450px;
        }
    }
    &__box{
        background-color: #fff;
        border-radius: 12px;
        &--mb{
            margin-bottom: 22px;
        }
    }
    &__filter{
        margin: 0 0 18px;
    }
}