@keyframes fade {
    from{
        opacity: .1;
    }
    to{
        opacity: 1;
    }
}

.fade{
    animation: fade .5s;
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: .1;
    }
}

.fadeOut{
    opacity: 0;
    animation: fadeOut .5s;
}