html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
    display: none;
}

body{
    color: #1C1D21;
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    background-color: #f5f5fa;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    &.fixed{
        overflow: hidden;
    }
}

a{
    font-size: 14px;
    line-height: 21px;
    color: #5E81F4;
    text-decoration: none;
    &:hover{
        color: #000;
    }
}

img{
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5{
    font-weight: bold;
}

*{
    font-family: $base-font;
}

*:focus{
    outline: none;
}

h1{
    font-size: 2.286rem;
    line-height: 1.31;
}

h2{
    font-size:  1.857rem;
    line-height: 1.46;
}

h3{
    font-size: 1.429rem;
    line-height: 1.6;
}

h4{
    font-size: 1.286rem;
    line-height: 1.5;
}

h5{
    font-size: 1.143rem;
    line-height: 1.5;
}

p{
    margin: 0 0 25px;
}

.b-text{
    font-size: 14px;
    line-height: 1.5;
    color: #52545A;
    p{
        margin-bottom: 20px;
    }
}

.page{
    &__wrap{
        min-width: 1200px;
        max-width: 3000px;
        margin: 0 auto;
        &--ovh{
            overflow: hidden;
        }
    }
}

.text-center{
    text-align: center !important;
}

.nowrap{
    white-space: nowrap;
}

.invisible{
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-out;
}

.hide{
    display: none;
}

.show{
    display: block;
}

hr{
    display: block; 
    height: 1px;
    border: 0; border-top: 1px solid #F0F0F3;
    margin: 1em 0; padding: 0; 
}

strong,
.bold{
    font-weight: bold;
}
