.b-filter{
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        .b-filter{
            &__inner-wrap{
                margin-right: 8px;
            }
        }
        &--center{
            align-items: center;
        }
    }
    &__input-wrap{
        padding: 6px 0;
        flex: 1;
        min-width: 500px;
    }
    &__nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    &__tabs{
        margin-left: 30px;
    }
}