.cases-list{
    &__item{
        background: #FFFFFF;
        border: 1px solid #D5D9E6;
        border-radius: 12px;
        padding: 25px 40px 35px;
        margin-bottom: 28px;
        display: flex;
        align-items: center;
        &:last-child{
            margin-bottom: 0;
        }
        @media (max-width: 1490px) {
            flex-wrap: wrap;
        }
    }
    &__det{
        width: 350px;
        max-width: 350px;
        margin-right: auto;
        padding-right: 50px;
        .cases-grid{
            &__title{
                margin-bottom: 4px;
            }
        }
    }
    &__pie{
        margin-right: 30px;
    }
    &__chart{
        width: 220px;
        min-width: 220px;
        margin-right: 50px;
    }
}