.docs{
    &__title{
        line-height: 1.5;
        color: #888B94;
        margin-bottom: 16px;
    }
    &__grid{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -14px;
    }
    &__item-wrap{
        width: 288px;
        padding: 0 14px;
    }
    &__item{
        display: flex;
        text-decoration: none;
        margin-bottom: 15px;
    }
    &__icon{
        min-width: 56px;
        width: 56px;
        height: 56px;
        border-radius: 8px;
        background: rgba(94, 129, 244, 0.1) url(../img/icons/doc.svg) no-repeat 50% 50%;
        margin-right: 15px;
    }
    &__body{
        flex: 1;
        padding-top: 7px;
    }
    &__head{
        line-height: 1.5;
        margin-bottom: 2px;
        color: #1C1D21;
        display: block;
    }
    &__size{
        display: block;
        line-height: 1.5;
        color: #8181A5;
    }

    .form__add-wrap{
        margin-top: 15px;
    }

    &__symbol{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 72px;
        height: 84px;
        position: relative;
        &--several{
            &:before{
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                top: 5px;
                left: 5px;
                border: 1px solid #ccc;
                opacity: 0.6;
                z-index: -1;
            }
            &:after{
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                top: 10px;
                left: 10px;
                border: 1px solid #ccc;
                opacity: .3;
                z-index: -2;
            }
        }
        &--word{
            background-color: #eef2fe;
            border-color: #5E81F4;
            svg{
                fill: #5E81F4;
            }
            &:before,
            &:after{
                background-color: #eef2fe;
                border-color: #5E81F4;
            }
        }
        &--adobe{
            background: #fff3f4;
            border-color: #E56353;
            svg{
                fill: #E56353;
            }
            &:before,
            &:after{
                background-color: #fff3f4;
                border-color: #E56353;
            }
        }
        &--sm{
            width: 38px;
            height: 44px;
            &:before{
                left: 2px;
                top: 2px;
            }
            &:after{
                left: 4px;
                top: 4px;
            }
            &.docs{
                &__symbol{
                    &--word{
                        svg{
                            width: 16px;
                        }
                    }
                    &--adobe{
                        svg{
                            width: 17px;
                        }
                    }
                }
            }
        }
    }
}