.docs-list{
    &__item-wrap{
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        .docs{
            &__item{
                margin-bottom: 0;
            }
        }
    }
    &__item-status{
        padding: 4px 12px;
        border-radius: 95px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        background-color: #ccc;
        margin-left: auto;
        &.success{
            color: #fff;
            background-color: #82C8A2;
        }
    }
}