.events{
    &__ul-title{
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        margin-bottom: 15px;
    }
    &__ul-item{
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 18px;
    }
    &__ul{
        margin-bottom: 30px;
    }
    &__list-item{
        position: relative;
        margin-bottom: 70px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__list-title{
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #1C1D21;
        margin-bottom: 16px;
        padding-right: 100px;
    }
    &__list-favorite{
        position: absolute;
        top: 2px;
        right: 9px;
    }
    &__list-bar{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    &__list-status{
        margin-right: 16px;
    }
    &__list-info{
        font-size: 14px;
        line-height: 23px;
        color: #888B94;
    }
    &__list-wrap{
        display: flex;
    }
    &__list-chart{
        min-width: 148px;
        margin-right: 40px;
    }
    &__list-body{
        flex-grow: 1;
        max-width: 510px;
    }
    &__list-text{
        font-size: 14px;
        line-height: 23px;
        color: #1C1D21;
        margin-bottom: 16px;
    }
}