.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    &__text{
        margin-left: 12px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.2px;
        color: #8181A5;
        display: none;
    }
    &.active{
        .logo{
            &__text{
                display: block;
            }
        }
    }
}