.nav{
    &__item{
        padding: 8px 0;
        position: relative;
        &.active{
            &:before{
                content: '';
                display: block;
                height: 46px;
                border: 1px solid #5E81F4;
                position: absolute;
                top: 8px;
                right: -18px;
                border-radius: 1px;;
            }
            .nav{
                &__link{
                    background-color: rgba(94, 129, 244, 0.1);
                }
            }
        }
        
    }
    &__link{
        display: flex !important;
        align-items: center;
        min-width: 48px;
        height: 48px;
        padding: 12px;
        border-radius: 4px;
        margin: 0 auto;
        text-decoration: none;
        transition: background-color .3s ease-out;
        svg{
            fill: #5E81F4;
        }
        &:hover{
            background-color: rgba(94, 129, 244, 0.1);
        }
    }
    &__link-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        position: relative;
        &.notice{
            &:before{
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #FF808B;
                border: 2px solid #FFFFFF;
                position: absolute;
                right: -1px;
                top: 0px;
                box-sizing: border-box;
            }
        }
    }
    &__link-text{
        display: none;
        font-size: 12px;
        line-height: 18px;
        color: #484873;
        margin-left: 12px;
    }
    &.active{
        .nav{
            &__link-text{
                display: block;
            }
        }
    }
}