.projects-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -20px;
    &__item-wrap{
        width: 285px;
        padding: 0 10px;
        margin-bottom: 25px;
        @media (min-width: 1650px) and (max-width: 1920px) {
            width: 25%;
        }
        @media (min-width: 1450px) and (max-width: 1649px) {
            width: 33.33%;
        }
        @media (min-width: 1350px) and (max-width: 1449px) {
            width: 50%;
        }
    }
    &__item{
        background: #FFFFFF;
        border: 1px solid #ECECF2;
        box-sizing: border-box;
        border-radius: 12px;
        position: relative;
    }
    &__box{
        padding: 28px 25px 30px;
    }
    &__icon{
        width: 64px;
        height: 64px;
        background: #F5F5FA;
        border-radius: 6px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #5E81F4;
        margin-bottom: 12px;
    }
    &__title{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #1C1D21;
        margin-bottom: 23px;
        min-height: 48px;
    }
    &__all{
        text-align: center;
    }
    &__bottom{
        border-top: 1px solid #EEEEEE;
        display: flex;
    }
    &__bottom-item{
        width: 50%;
        padding: 20px 10px;
        text-align: center;
        &:first-child{
            border-right: 1px solid #EEEEEE;
        }
    }
    &__bottom-nr{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #1C1D21;
    }
    &__bottom-price{
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #1C1D21;
    }
    &__bottom-title{
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #8181A5;
    }
    &__btn{
        background: #FFFFFF;
        border: 1px solid #ECECF2;
        box-sizing: border-box;
        border-radius: 8px;
        width: 36px;
        height: 36px;
        position: absolute;
        right: 14px;
        top: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #8181A5;
        cursor: pointer;
        transition: .3s ease-out;
        &:hover{
            background-color: #ECECF2;
        }
    }
}