.statistic-list{
    &__item{
        display: flex;
        justify-content: space-between;
        background: rgba(245, 245, 250, 0.4);
        border-radius: 10px;
        padding: 22px 24px 20px;
        margin-bottom: 6px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__label{
        font-size: 14px;
        line-height: 21px;
        color: #8181A5;
        margin-bottom: 2px;
    }
    &__nr{
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: #1C1D21;
    }
    &__box{
        padding-right: 30px;
    }
}