.b-icon{
    width: 56px;
    min-width: 56px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 22px;
    &.success{
        background-color: rgba(138, 241, 185, 0.15);
        color: #7CE7AC;
    }
    &.time{
        background-color: rgba(244, 190, 94, 0.1);
        color: #F4BE5E;
    }
    &.attention{
        background-color: rgba(255, 128, 139, 0.1);
        color: #FF808B;
    }
    &.chart{
        background-color: #F5F5FA;
        color: #9698D6;
    }
    &--sm{
        width: 42px;
        height: 42px;
        min-width: 42px;
        border-radius: 8px;
    }
}