.b-tabs{
    display: flex;
    &__item{
        padding: 0 2px;
    }
    &__tab{
        display: inline-block;
        font-weight: 900;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #8181A5;
        padding: 11px 15px;
        background: rgba(94, 129, 244, 0.1);
        border: none;
        cursor: pointer;
        border-radius: 8px;
        transition: color .3s ease-out,
                    background-color .3s ease-out;

        i{
            font-size: 16px;
            position: relative;
            top: 1px;
        }
        &.active,
        &:hover{
            background-color: #9698D6;
            color: #FFFFFF;
        }
        &--icon-left{
            i{
                margin-right: 7px;
            }
        }
        &--icon-right{
            i{
                margin-left: 7px;
            }
        }
    }
}