.btn{
    display: inline-block;
    font-weight: bold;
    color: #fff;
    line-height: 17px;
    padding: 13px 28px 14px;
    background: #5E81F4;
    border: 1px solid #5E81F4;
    border-radius: 8px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color .3s ease-out,
                border-color .3s ease-out;
    margin: 0 2px;
    &:hover{
        background-color: #475eaa;
        border-color: #475eaa;
    }
    &--res{
        background-color: #eff2fe;
        border-color: #eff2fe;
        color: #5E81F4;
        &:hover{
            background-color: darken(#eff2fe, 5%);
            border-color: darken(#eff2fe, 5%);
        }
    }
    &--transparent{
        background-color: transparent;
        color: #5E81F4;
        transition: color .3s ease-out,
                    background-color .3s ease-out,
                    border .3s ease-out;
        &:hover{
            color: #000;
            background-color: transparent;
            border: 1px solid #5E81F4;
        }
    }
    &--tabs{
        background-color: transparent;
        color: #8181A5;
        border-color: rgba(151, 151, 151,.1);
        transition: color .3s ease-out,
                    background-color .3s ease-out,
                    border .3s ease-out;
        &:hover,
        &.active{
            color: #5E81F4;
            background-color: rgba(94, 129, 244, .1);
            border: 1px solid rgba(94, 129, 244, .1);
        }
    }
    &--transparent-light{
        background-color: transparent;
        border-color: #fff;
        color: #8181A5;
        transition: .3s ease-out;
        &:hover{
            color: #000;
            background-color: #fff;
            border: 1px solid #ECECF2;
        }
        &.active{
            border: 1px solid #ECECF2;
            color: #000;
        }
    }
    &--light{
        background-color: #EFF2FE;
        border-color: #EFF2FE;
        color: #5E81F4;
        transition: .3s ease-out;
        &:hover{
            background-color: darken(#EFF2FE, 4%);
            border-color: darken(#EFF2FE, 4%);
        }
    }
    &[disabled]{
        background-color: #F6F6F6;
        color: #8181A5;
        border-color: #F6F6F6;
        cursor: no-drop;
        &:hover{
            border-color: #F6F6F6;
            background-color: #F6F6F6;
            color: #8181A5;
        }
    }
    &--add{
        background: transparent url(../img/icons/add-1.svg) no-repeat 50% 50%;
        width: 16px;
        height: 16px;
        padding: 0;
        margin: 0;
        border-radius: 0;
        border: none;
        &:hover{
            background-color: transparent;
        }
    }
    &--sm{
        font-size: 14px;
        line-height: 17px;
        padding: 11px 20px 10px;
    }
    &--min{
        font-size: 12px;
        line-height: 18px;
        padding: 8px 20px;
    }
    &--icon{
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        padding: 0;
        color: #8181A5;
        &.btn--transparent{
            border-color: #ECECF2;
            color: #5E81F4;
            &:hover{
                border-color: #5E81F4;
            }
        }
    }
    &--symbol{
        i{
            font-size: 16px;
            line-height: 16px;
            margin-right: 8px;
            position: relative;
            top: 1px;
            &.icon{
                top: 0;
            }
        }
        &--right{
            i{
                margin: 0 0 0 8px;
            }
        }
    }
}