.chart-pie{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    &:before{
        content: '';
        display: block;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        background-color: #fff;
        position: absolute;
        left: 4px;
        top: 4px;
        border-radius: 50%;
        z-index: 3;
    }
    &__segment{
        --a: calc(var(--over50, 0) * -100%);
        --b: calc((1 + var(--over50, 0)) * 100%);
        --degrees: calc((var(--offset, 0) / 100) * 360);
        clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
        height: 100%;
        position: absolute;
        transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees) * 1deg));
        transform-origin: 50% 100%;
        width: 100%;
        z-index: calc(1 + var(--over50));
        &:after,
        &:before{
            background: var(--bg, #e74c3c);
            content: '';
            height: 100%;
            position: absolute;
            width: 100%;
        }
        &:before{
            --degrees: calc((var(--value, 45) / 100) * 360);
            transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
            transform-origin: 50% 0%;
        }
        &:after{
            opacity: var(--over50, 0);
        }
    }
    &__block{
        position: relative;
        height: 150px;
        width: 150px;
    }
    &__bg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60%;
        width: 60%;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 50%;
        text-align: center;
        z-index: 4;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    &__number{
        font-size: 26px;
        line-height: 38px;
        font-weight: bold;
        color: #1C1D21;
    }
    &__title{
        font-size: 12px;
        line-height: 15px;
        color: #888B94;
    }
    &__wrap{
        &--big{
            .chart-pie{
                width: 260px;
                height: 260px;
                transform: rotate(45deg);
                &__block{
                    width: 260px;
                    height: 260px;
                }
                &--inner{
                    width: 220px;
                    height: 220px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-top: -110px;
                    margin-left: -110px;
                    z-index: 3;
                    &:before{
                        left: 8px;
                        top: 8px;
                        width: calc(100% - 16px);
                        height: calc(100% - 16px);
                    }
                }
                &__number{
                    font-size: 54px;
                    line-height: 38px;
                    color: #1C1D21;
                    margin-bottom: 19px;
                }
                &__title{
                    font-size: 19px;
                    line-height: 23px;
                    text-align: center;
                    color: #888B94;
                }
            }
        }
        &--md{
            .chart-pie{
                width: 240px;
                height: 240px;
                transform: rotate(45deg);
                &:before{
                    width: calc(100% - 16px);
                    height: calc(100% - 16px);
                    left: 8px;
                    top: 8px;
                }
                &__block{
                    width: 240px;
                    height: 240px;
                }
                &__number{
                    font-size: 44px;
                    line-height: 38px;
                    margin-bottom: 19px;
                }
                &__title{
                    font-size: 19px;
                    line-height: 23px;
                }
            }
        }
    }
}