.docs-lists{
    &__item{
        background: #FFFFFF;
        border: 1px solid #ECECF2;
        box-sizing: border-box;
        border-radius: 12px;
        margin-bottom: 20px;
        padding-bottom: 24px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__head{
        display: flex;
        padding: 18px 20px 0px 30px;
        align-items: center;
    }
    &__body{
        padding: 11px 20px 35px 30px;
    }
    &__body-item{
        display: flex;
        padding-top: 25px;
    }
    &__icon{
        position: relative;
        z-index: 1;
        margin-right: 25px;
        min-width: 38px;
    }
    &__title{
        font-size: 14px;
        line-height: 21px;
        color: #1C1D21;
        width: 300px;
        padding-right: 40px;
    }
    &__ver{
        font-size: 14px;
        line-height: 21px;
        color: #8181A5;
        width: 160px;
        padding-right: 60px;
    }
    &__size{
        font-size: 14px;
        line-height: 21px;
        color: #8181A5;
        width: 105px;
        padding-right: 40px;
    }
    &__nav{
        margin-left: auto;
        display: flex;
    }
    &__nav-item{
        padding: 0 6px;
    }
    &__nav-toggle{
        &.active{
            transform: rotate(180deg);
        }
    }
}