.favorite{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 22px;
    color: #5E81F4;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}