.history{
    &__legend{
        margin-bottom: 22px;
    }
    &__legend-item{
        display: flex;
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 16px;
        color: #888B94;
        &:last-child{
            margin-bottom: 0;
        }
        .history{
            &__status{
                position: relative;
                top: 4px;
            }
        }
    }
    &__item{
        background: rgba(245, 245, 250, 0.4);
        border-radius: 12px;
        padding: 16px 21px;
        margin-bottom: 10px;
    }
    &__head{
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    }
    &__status{
        margin-right: 6px;
        border-radius: 50px;
        width: 8px;
        height: 8px;
        background-color: #ccc;
        &.new{
            background-color: #5E81F4;
        }
        &.changed{
            background-color: #F4BE5E;
        }
        &.success{
            background-color: #7CE7AC;
        }
    }
    &__date{
        font-size: 12px;
        line-height: 16px;
        color: #AEB1BD;
    }
    &__title{
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #1C1D21;
        margin-bottom: 2px;
    }
    &__text{
        font-size: 12px;
        line-height: 18px;
        color: #8181A5;
    }
}