.info{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/icons/info.svg) no-repeat 50% 50% / contain;
    cursor: pointer;
    position: relative;
    top: 1px;
    margin: 0 2px;
}