.label{
    display: inline-block;
    border-radius: 8px;
    padding: 9px 10px 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    &--green{
        color: #54B781;
        background-color: #E5FBEF;
    }
    &--blue{
        color: #5E81F4;
        background-color: #EFF2FE;
    }
    &--red{
        color: #FF808B;
        background-color: rgba(255, 128, 139, 0.1);
    }
    &--yellow{
        color: #D7AC00;
        background-color: #FAEEC2;
    }
    &--grey{
        color: #979797;
        background-color: #F5F5FA;
    }
    &--transparent{
        color: #AEB1BD;
        padding: 8px 9px 9px;
        border: 1px solid #D5D9E6;
    }
}