.load-files{
    &__box{
        display: block;
        background: #FFFFFF;
        border: 1px dashed #ECECF2;
        border-radius: 6px;
        padding: 45px;
        height: 224px;
        text-align: center;
        cursor: pointer;
    }
    &__icon{
        display: block;
        margin-bottom: 14px;
        svg{
            display: block;
            margin: 0 auto;
        }
    }
    &__title{
        display: block;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 1px;
    }
    &__text{
        display: block;
        font-size: 14px;
        line-height: 21px;
        color: #8181A5;
        .accent{
            color: #5E81F4;
        }
    }
    &__input{
        font-size: 0;
        width: 1px;
        height: 1px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
}