.location{
    padding-left: 27px;
    position: relative;
    font-size: 14px;
    line-height: 23px;
    color: #888B94;
    &__icon{
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #5E81F4;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21px;
        height: 21px;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(94, 129, 244, 0.1);
        border-radius: 50%;
    }
}