.mark{
    display: inline-block;
    width: 21px;
    height: 21px;
    border: 3px solid #F5F5FA;
    border-radius: 50px;
    position: relative;
    top: 9px;
    box-sizing: content-box;
    &[data-dropdown-toggle]{
        cursor: pointer;
    }
    &--1{
        background: #7CE7AC;
    }
    &--2{
        background: #FF808B;
    }
    &--3{
        background: #F4BE5E;
    }
    &--4{
        background: #FFFFFF;
    }
    & + .mark{
        left: -6px;
    }

    &__wrap{
        display: flex;
    }

    &__dropdown{
        position: absolute;
        display: none;
        width: 541px;
        max-height: 277px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(153, 155, 168, 0.2);
        border-radius: 8px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 5px 0 15px;
        animation: fade .3s;
        z-index: 9;
        &.active{
            display: block;
        }
    }

    &__list-item{
        padding: 15px 45px 15px 25px;
        display: flex;
        cursor: pointer;
        border-bottom: 1px solid #F5F5FA;
        transition: background-color .3s ease-out;
        &:hover{
            background-color: rgba(245, 245, 250, 0.4);
        }
        &:last-child{
            border-bottom: 0;
        }
    }

    &__list-color{
        margin-right: 21px;
        .mark{
            top: 0;
        }
    }

    &__list-text{
        font-size: 12px;
        line-height: 18px;
        color: #1C1D21;
    }
}