.showby{
    display: flex;
    align-items: center;
    white-space: nowrap;
    &__text{
        font-size: 14px;
        line-height: 23px;
        color: #1C1D21;
        margin-right: 11px;
    }
    &__list{
        display: flex;
    }
    &__item{
        margin-right: 16px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__link{
        font-size: 14px;
        line-height: 23px;
        color: #5E81F4;
        &.active{
            font-weight: bold;
        }
    }
}