.sort{
    position: relative;
    display: flex;
    &__text{
        font-size: 12px;
        line-height: 18px;
        color: #8181A5;
        margin-right: 8px;
        padding-left: 24px;
        position: relative;
        white-space: nowrap;
        &:before{
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -9px;
            background: url(../img/icons/filter.svg) no-repeat 50% 50%;
        }
    }
    &__toggle{
        font-size: 12px;
        line-height: 18px;
        color: #5E81F4;
        position: relative;
        padding-right: 23px;
        white-space: nowrap;
        cursor: pointer;
        &:after{
            content: "\f107";
            font-family: 'Line Awesome Free';
            font-weight: 900;
            display: block;
            font-size: 16px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -11px;
            color: #5E81F4;
        }
    }
    &__dropdown{
        position: absolute;
        top: 100%;
        margin-top: 20px;
        right: 0;
        background-color: #fff;
        padding: 10px 25px;
        box-shadow: 0px 6px 20px rgba(153, 155, 168, 0.1);
        border-radius: 8px;
        display: none;
        animation: fade .3s;
        &.active{
            display: block;
        }
    }
    &__dropdown-item{
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 18px;
        cursor: pointer;
        &.active,
        &:hover{
            color: #5E81F4;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    &--dark{
        .sort{
            &__text{
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
                color: #8181A5;
            }
            &__toggle{
                font-weight: 900;
                font-size: 12px;
                text-transform: uppercase;
                color: #252631;
                &:after{
                    color: #8181A5;
                }
            }
        }
    }
}