.switcher{
    display: flex;
    align-items: center;
    &__toggle{
        width: 40px;
        height: 22px;
        border-radius: 12px;
        background: #EEEEEE;
        position: relative;
        cursor: pointer;
        transition: .3s ease-out;
        &.active{
            background-color: #1B51E5;
            .switcher{
                &__toggle-circle{
                    background-color: #fff;
                    transform: translateX(16px);
                }
            }
        }
        &--not-off{
            background-color: #1B51E5;
            .switcher{
                &__toggle-circle{
                    background-color: #fff;
                }
            }
        }
    }
    &__toggle-circle{
        width: 16px;
        height: 16px;
        background: #98A9BC;
        border-radius: 50%;
        position: absolute;
        left: 4px;
        top: 3px;
        transition: transform .3s ease-out;
    }
    &__text{
        font-size: 14px;
        line-height: 18px;
        color: #1C1D21;
        mix-blend-mode: normal;
        opacity: 0.7;
        margin-left: 10px;
    }

    &__left{
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: #888B94;
        mix-blend-mode: normal;
        margin-right: 21px;
        white-space: nowrap;
        &.active{
            color: #1C1D21;
        }
    }

    &__right{
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: #888B94;
        mix-blend-mode: normal;
        margin-left: 21px;
        white-space: nowrap;
        &.active{
            color: #1C1D21;
        }
    }
}