.tabs{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -17px 41px;
    position: relative;
    &:before{
        content: '';
        display: block;
        width: 17px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
    }
    &:after{
        content: '';
        display: block;
        width: 17px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
    }
    &__item{
        margin-bottom: 15px;
        padding: 0 17px;
        border-bottom: 1px solid #EEEEEE;
        &:last-child{
            padding-right: 0;
        }
        &.active{
            .tab{
                color: #5E81F4;
                position: relative;
                &:after{
                    content: '';
                    display: block;
                    border-bottom: 3px solid #5E81F4;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                }
            }
        }
    }
    .tab{
        display: block;
        font-weight: 900;
        font-size: 12px;
        line-height: 18px;
        color: #52545A;
        text-decoration: none;
        padding: 6px 0 13px;
        transition: .3s ease-out;
        &:hover{
            color: #5E81F4;
        }
    }
    &__blocks{
        max-width: 850px;
    }
}