.table{
    width: 100%;
    font-family: $base-font;
    border-collapse: separate;
    border-spacing: 0 17px;
    &__wrap{
        overflow: hidden;
        overflow-x: auto;
        max-width: 852px;
        &--full,
        &--mark{
            max-width: 100%;
            overflow: visible;
        }
    }
    th{
        font-weight: bold;
        font-size: 12px;
        line-height: 1.1;
        color: #8181A5;
        text-align: left;
        background: #F5F5FA;
        padding: 11px 16px;
        vertical-align: middle;
        &:first-child{
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-child{
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    td{
        border-top: 1px solid #ECECF2;
        border-bottom: 1px solid #ECECF2;
        padding: 20px 16px;
        font-size: 14px;
        line-height: 1.71;
        &:first-child{
            border-left: 1px solid #ECECF2;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }
        &:last-child{
            border-right: 1px solid #ECECF2;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }
        &.cell{
            font-size: 12px;
            padding: 20px 6.5px;
            text-align: center;
            &--color{
                color: #888B94;
            }
        }
        &.cell--left{
            font-size: 12px;
            padding: 20px 16px;
            text-align: left;
        }
        .cell-text-indent-inner{
            padding-left: 28px;
        }
        .cell-text-indent{
            padding-left: 14px;
        }
    }

    &__accent-row{
        th{
            padding: 10px 7px;
            font-size: 7px;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 8px;
            text-align: center;
            &:last-child{
                padding-right: 16px;
            }
        }
    }

    &__sort{
        display: block;
        padding-right: 25px;
        position: relative;
        color: inherit;
        text-decoration: none;
        &:after{
            content: '';
            display: block;
            width: 13px;
            height: 12px;
            background: url(../img/icons/sort.svg) no-repeat 50% 50% / contain;
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -6px;
        }
    }

    &__settings{
        position: relative;
    }

    &__settings-dropdown{
        position: absolute;
        top: 100%;
        right: -12px;
        margin-top: 13px;
        background: #FFFFFF;
        box-shadow: 9px 6px 20px rgba(153, 155, 168, 0.16);
        border-radius: 8px;
        padding: 2px 0 20px;
        min-width: 285px;
        z-index: 2;
        display: none;
        animation: fade .3s;
        &.active{
            display: block;
        }
    }

    &__settings-item{
        display: flex;
        align-items: center;
        padding: 17px 25px;
        border-bottom: 1px solid #F6F6F6;
        cursor: pointer;
        transition: background-color .3s ease-out;
        &:last-child{
            border-bottom: 0;
        }
        &:hover{
            background-color: rgba(239, 242, 254, 0.45);
        }
    }

    &__settings-box{
        width: 36px;
        min-width: 36px;
        height: 36px;
        background: rgba(94, 129, 244, 0.1) url(../img/icons/check.svg) no-repeat 50% 50%;
        border-radius: 8px;
        margin-right: 15px;
        &.plus{
            background-image: url(../img/icons/plus.svg);
        }
    }

    &__settings-text{
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #1C1D21;
    }

    &__settings-btn{
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        border: none;
        background: url(../img/icons/settings.svg) no-repeat 50% 50%;
        padding: 0;
        margin: 0 0 0 auto;
        transition: background-color .3s ease-out;
        cursor: pointer;
        &:hover,
        &.active{
            background-color: #EFF2FE;
        }
    }

    &__arrow{
        display: block;
        width: 22px;
        height: 22px;
        background: url(../img/icons/table-arrow.svg) no-repeat 50% 50%;
    }

    &--dark{
        border-spacing: 0 10px;
        th{
            background: rgba(245, 245, 250, 0.4);
        }

        td{
            background: rgba(245, 245, 250, 0.4);
        }
    }
}