.toggle{
    padding-bottom: 20px;
    &__head{
        display: flex;
        align-items: center;
        padding-bottom: 13px;
        border-bottom: 1px solid #D5D9E6;
    }
    &__head-wrap{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .toggle{
            &__title{
                margin-right: 15px;
            }
        }
    }
    &__title{
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: #1C1D21;
        margin-right: 16px;
        &--sm{
            font-size: 16px;
            line-height: 24px;
        }
        &--md{
            font-size: 26px;
            line-height: 38px;
        }
        &--gray{
            color: #52545A;
        }
        &--lg{
            font-size: 32px;
            line-height: 42px;
        }
    }
    &__det{
        position: relative;
        top: 2px;
    }
    &__det-wrap{
        display: flex;
        flex-wrap: wrap;
    }
    &__det-item{
        display: flex;
        align-items: center;
        padding: 0 27px;
        margin: 5px 0;
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
        &--wrp{
            padding-right: 0;
            .toggle__det-badge{
                margin-right: 0;
            }
        }
    }
    &__det-badge{
        margin-right: 15px;
        .badge{
            &:before{
                top: 4px;
            }
        }
    }
    &__info{
        font-size: 12px;
        line-height: 16px;
        color: #AEB1BD;
        margin-right: 48px;
        padding-top: 5px;
    }
    &__nav{
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    &__trigger{
        margin-left: 28px;
    }
    &__download{
        font-weight: 900;
        font-size: 14px;
        line-height: 17px;
        color: #5E81F4;
        i{
            font-size: 18px;
            line-height: 18px;
            margin-right: 4px;
            position: relative;
            top: 1px;
        }
    }
    &__download-tabs{
        display: flex;
        button{
            margin: 0 8px;
        }
    }
    &__block{
        padding-top: 33px;
    }
    &__block-text{
        font-size: 14px;
        line-height: 23px;
        color: #1C1D21;
        max-width: 890px;
        margin-bottom: 50px;
    }
    &__trigger{
        .btn{
            &.active{
                transform: rotate(180deg);
            }
        }
    }
    &__bottom{
        margin-top: 15px;
        text-align: center;
        padding-bottom: 30px;
    }
}